/* Importing font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* importing typography.css into main stylesheet file */
@import "./badges/badges.css";

/* importing images.css into main stylesheet file */
@import "./images/images.css";

/* importing typography.css into main stylesheet file */
@import "./typography/typography.css";

/* importing cards.css into main stylesheet file */
@import "./cards/cards.css";

/* importing chips.css into main stylesheet file */
@import "./chips/chips.css";

/* importing avatars.css into main stylesheet file */
@import "./avatars/avatars.css";

/* importing alerts.css into main stylesheet file */
@import "./alerts/alerts.css";

/* importing button.css into main stylesheet file */
@import "./buttons/buttons.css";

/* importing toasts.css into main stylesheet file */
@import "./toasts/toasts.css";

/* Applying fonts to the root */
* {
  font-family: "Poppins", sans-serif;
  --extreme-black: #1e293b;
  --slate-white: #f1f5f9;
  --sky-blue: #e0f2fe;
  --neutral-gray: #e5e5e5;
  --nominal-green: #bbf7d0;
  --dawn-yellow: #fef08a;
  --dark-cyan: #0891b2;
  --naval-sky: #3b82f6;
  --naval-gray: #64748b;
  --naval-green: #10b981;
  --naval-yellow: #f59e0b;
  --rose-red: #ef4444;
}

/* header start */
.head-start {
  text-decoration: underline;
}

/* nav heading */
.nav-head {
  color: var(--slate-white);
  text-decoration: none;
}

nav .nav-opts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.intro {
  display: flex;
  /* margin-top: 3rem; */
  padding: 1rem;
  height: 100vh;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.intro-flyer {
  display: flex;
  align-items: center;
  justify-self: center;
}

.flyer-img {
  width: 600px;
  max-width: 100%;
}

.lib-name {
  color: var(--naval-sky);
}
/* body styles */
body {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* page sections */
.pg-section {
  margin-top: 5rem;
}

/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--extreme-black);
  color: var(--slate-white);
  border-radius: 0.5rem;
}

/* Main container of the landing  page*/
.container {
  margin: 1rem;
  padding: 1rem;
  /* width: 60%; */
}

/* horizontal and vertical center */
.center-hv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* inline-lists */
ul .inline-list {
  display: inline;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
}

/* anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--slate-white);
  padding: 1rem;
  min-height: 50px;
  margin-top: auto;
  background-color: var(--extreme-black);
}

@media screen and (max-width: 750px) {
  .flyer-img {
    width: 300px;
  }
  .intro {
    flex-direction: column-reverse;

    justify-content: center;
  }
  .intro-content {
    width: 100%;
  }

  nav .nav-opts {
    display: none;
  }

  .explore-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .explore-nav .chip {
    padding: 0;
    text-align: center;
  }
}
